extends templates/main_template

block title
  title= "Hello"

block content
  center
    img(src="/static/img/cookies.jpg")
    p This is my website right now, okay? I'll fix it up when I get time. Just leave me alone already!
